/**
 * Extra
 *
 * Description: stuff with special classes
 * Version: 1.0
 * -----------------------------------------------------------------------------
 */

/**
 * Table of Contents:
 *
 * 1.0 - spinner
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 - spinner
 * -----------------------------------------------------------------------------
 */

 .spinner {
 	margin: 0 auto;
 	width: 7em;
 	img {
 		vertical-align: middle;
 	}
 }