/**
 * Header
 *
 * Description: stuff with special classes
 * Version: 1.0
 * -----------------------------------------------------------------------------
 */

/**
 * Table of Contents:
 *
 * 1.0 - Header
 * -----------------------------------------------------------------------------
 */

 header {
 	text-align: center;
 	padding-top: 30px;

 	h1 {
 		text-transform: uppercase;
 		font-weight: 700;
 	}

 	.logo {
 		width: 50px;
 	}
 }